<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title> angelopavone </title>

  <link rel="stylesheet" type="text/css" href="./css/index.css">
</head>

<body>

  <h1>Blog Posts</h1>

  <div>
    <ul id="postList">
      <% posts.forEach(function(post) { %>
          <li> 
            <a href="/posts/<%= post.title %>"> <%= post.title %> </a> 
          </li>
      <% }); %>
    </ul>
  </div>

</body>

</html>