<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title> angelopavone </title>
  <link rel="stylesheet" type="text/css" href="./css/index.css">
  <!-- TODO(angelo): figure out why this is not fixing the fouc error in firefox -->
  <!-- <script src="./js/fouc.js"></script> -->
</head>

<body>
  <!-- <canvas id="nodeCanvas" width="1200" height="800"></canvas> -->
  <script type="module" src="./js/node.js"></script>
  <script type="module" src="./js/index.js"></script>
</body>
</html>
