<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title> angelopavone </title>
  <link rel="stylesheet" type="text/css" href="./css/index.css">
  <!-- TODO(angelo): figure out why this is not fixing the fouc error in firefox -->
  <!-- <script src="./js/fouc.js"></script> -->
</head>

<body>
  <!-- width and height of graphContainer must be the same as in css -->
  <div id="graphContainer">
  <canvas id="nodeCanvas" width="3200" height="3200"></canvas>
    <!-- <svg id="nodeSVG" height="3200" width="3200"></svg> -->
  </div>
  <script type="module" src="./js/index.js"></script>
  <script type="module" src="./js/graph.js"></script>

  <script>
    // Set the initial scroll position
    window.onload = function() {
        var scrollableDiv = document.getElementById("graphContainer");
        scrollableDiv.scrollTop = 1200;
        scrollableDiv.scrollLeft = 1200;
    };
  </script>
</body>
</html>
