<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>new post</title>

  <link rel="stylesheet" href="new-post.css">
</head>

<body>
  <textarea id="new-post" name="new-post" type="text" height=600 rows="40" cols="60"></textarea>
</body>

</html>