<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>new post</title>

  <link rel="stylesheet" href="new-post.css">
</head>

<body>
  <div>
    <textarea placeholder="Title" id="new-post-title" name="new-post-title" type="text" rows="2" cols="60"></textarea>
  </div>
  <div>
    <textarea placeholder="Not title" id="new-post" name="new-post" type="text" rows="40" cols="60"></textarea>
  </div>
</body>

</html>