<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <title>new post</title>

  <link rel="stylesheet" type="text/css" href="./css/newPost.css">
  <script src="./js/newPost.js" ></script>
</head>
  <body>
    <form id="newPostTitle" action="/submitNewPost" method="post">
        <input placeholder="Title" id="title" name="title" type="text" rows="2" cols="60">
    </form>
    <form id="newPostConnections" action="/submitNewPost" method="post">
        <input placeholder="Connections" id="connections" name="connections" type="text" rows="2" cols="60">
    </form>
    <form id="newPostContent" action="/submitNewPost" method="post">
        <textarea placeholder="Not title" id="content" name="content" rows="40" cols="60"></textarea>
    </form>
    <button id="submitForms" onclick="submitBothForms()">Publish</button>
  </body>
</html>